<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChooseCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>294AC5721FA2E009001BC04A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>294AC58B1FA2E009001BC04A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>294AC5961FA2E009001BC04A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
